*{ 
    margin:0;
    padding:0;
}


.header {
  height: 100px;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
}

.logo {
  width: 100px;
  height: 100px;
}



.links {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.main, .most-wanted, .about, .contacts {
  margin-right: 40px;
  list-style: none;
}

a {
  text-decoration: underline;
  color: blanchedalmond;
  cursor: pointer;
}

body {
  background: url("img/main_img.jpg") no-repeat center;
}

.main_fbi {
  height: 700px;
}

.login, .password {
  color:bisque;

}

input {
  background-color: transparent;
  color:bisque;
}

.button:hover {
  width: 100px;
  height: 35px;
  cursor: pointer;
  background-color: rgb(237, 202, 159);
  border: 100px;
  border-radius: 15px;
}

.container {
 
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  
}
