*{ 
    margin:0;
    padding:0;
}

  .footer {
    height: 100px;
    width: 100vw;
    background-color: #6c6d6f; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .insta-logo, .facebook-logo, .twitter-logo, .youtube-logo{
    width: 50px;
    height:50px;
  }



  .logo  {
    width: 100px;
    height: 100px;
  }

 

  .wrapper-content {
    background-color: blanchedalmond;
    height: 73vh;
    width: 100vw;
  }

  .title {
    text-align: center;
    margin:10px;
  }

  .about_us {
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: 800px;
    align-items: center;
    margin: 0 auto;
}

.what1, .how1, .history1{
    color: blue;
}

.image1, .image2, .image3  {
    width: 230px;
    height: 150px;

}

.parent-what, .parent-how, .parent-history {
    display:inline-block
   
}

.inv , .how2 , .history2 {
    overflow: visible;
    width: 230px;

}

.squares-info {
    display: flex;
    justify-content: center;
}


.what, .how, .beginning {
    margin: 10px;
list-style: none;
}

.image1, .image2, .image3 {
  width: 250px;
  
}

.one, .two, .three {
  border: solid 1px blanchedalmond;
  width: 250px;
  height: 300px;
  margin: 10px;
  list-style: none;

}

.inner-boxes {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

strong{
  color: blue;
}

.main_link1:hover {
  cursor: pointer;
  transform: scale(1.5);
}